
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    
    padding: 10px 20px;
  }
  
  .navbarLeft {
    display: flex;
    align-items: center;
    flex: 2;
    
  }
  .navCompanyLogo{
    width: fit-content;
    display: flex;
    align-items: center;
  }
  .navCompanyLogo img{
    width: 40px; 
    height: auto;
    margin-right: 10px; 
  }
 
  
  .company-name {
    font-weight: bold;
  }
  
  .navbarRight{
    display: flex;
    flex: 1;
  
    align-items: center;
    justify-content: space-around;
  }
  .navLinks{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
 a{
    text-decoration: none;

 }
 .donateButton{
    background-color: #007bff;
    
    padding: 10px 20px;
    border:none;
    color: white;
    border-radius: 10px;
    cursor: pointer;

 }
  .navLinks {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: space-around;

  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }